body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

h1 {
  font-weight: 700;
}

h5 {
  font-weight: 400;
}

#root {
  height: 1440px;
  background-color: #000;
  color: #FFF;
  font-family: 'Overpass', sans-serif;
}

